.qmake.stash
IRRepr/
Makefile
Makefile.Debug
Makefile.Release
debug/
iTT_HWin.pro.user.3005743
iTT_HWin.pro.user.59e1fe2
iTT_HWin.pro.user.5fdb274
iTT_HWin.pro.user.c0582e3
other/
release/
cpn.ico
bad.list
darknet_no_gpu.exe
data/
ittdata/
opencv_ffmpeg340_64.dll
opencv_world340.dll
prediction_result.txt
pthreadGC2.dll
pthreadVC2.dll
t/ 
